@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: local('Glegoo'), local('Glegoo-Regular'), url(http://themes.googleusercontent.com/static/fonts/glegoo/v1/lmpwkDpKuvVsDfwvMpuZVg.woff) format('woff');
}

@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/marcellussc/v1/_jugwxhkkynrvsfrxVx8gRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

html {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

p.para {
  font-family: 'Glegoo', serif;
  
  line-height: 22px;
  margin: auto;
  
  height: auto;
  width: 650px;
  
  text-align: justify;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 0, 0);
}

h1.header {
  font-family: 'Marcellus SC', serif;
  font-size: 4.5em;
  font-variant: small-caps;
  
  text-align: center;
}
