/* I'm just creating this file so I know where to continue in the morning.
   This will be my global stylesheet that will contain most goodies within.
   I'll start it off, but I'm not going to continue.

   [ 1 ]> I'm probably going to end up staying up all night, working on this.
   I mean, it is snowing outside..
*/

body {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  cursor: default;
  overflow: hidden;
}

#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#left {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 1);

  float: left;

  position: relative;
  z-index: -1;

  height: 768px; 
  width: 50%;
}

#right {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 1);

  float: right;

  position: relative;
  z-index: -1;

  height: 768px;
  width: 50%;
}

/* Heading styles. */

h1.l {
  color: rgb(255, 255, 255);

  float: right;
  font-family: Serif;
  font-size: 3em;
  font-variant: small-caps;

  text-shadow: 1px 1px 1px;
}

h2.l {
  color: rgb(255, 255, 255);

  float: right;
  font-family: Serif;
  font-size: 2em;
  font-variant: small-caps;

  text-shadow: 1px 1px 1px;
}

h3.l a {
  color: rgb(255, 255, 255);

  float: right;
  font-family: Serif;
  font-size: 2em;
  font-variant: small-caps;
  
  margin-top: 250px;
  padding: 6px;

  text-decoration: none;
  text-shadow: 1px 1px 1px;
}

h3.l a:hover {
  color: rgb(255, 0, 0);
}

h1.r {
  color: rgb(0, 0, 0);

  font-family: Serif;
  font-size: 3em;
  font-variant: small-caps;

  text-shadow: 1px 1px 1px;
}

h2.r {
  color: rgb(0, 0, 0);

  font-family: Serif;
  font-size: 2em;
  font-variant: small-caps;

  text-shadow: 1px 1px 1px;
}

h3.r a {
  color: rgb(0, 0, 0);

  float: left;
  font-family: Serif;
  font-size: 2em;
  font-variant: small-caps;

  margin-top: 250px;
  padding: 6px;

  text-decoration: none;
  text-shadow: 1px 1px 1px;
}

h3.r a:hover {
  color: rgb(255, 0, 0);
}

/* To get rid of the uncessary selection of text. */

::selection {
  display: none;
  visibility: hidden;
}

::-moz-selection {
  display: none;
  visibility: hidden;
}
