@import 'global.css';

#nav {
  font-family: 'Marcellus SC', serif;
  font-size: 1em;
  
  margin: 0 auto;
  padding: 0;

  height: 23px;
  width: 600px;
}

#nav-container ul{
  float: left;
  
  width: 100%;
  z-index: 90;
}

#nav-container ul li {
  float: left;
  padding: 2px 20px 0 0;
  position: relative;
}

#nav-container ul li span {
  cursor: pointer;
}

#nav-container ul li ul {
  background-color: rgb(0, 0, 0);

  border: 1px solid #ffffff;
  border-radius: 6px;

  display: none;

  float: left;

  position: absolute;

  left: 0;
  top: 23px;

  width: 175px;
}

#nav-container ul li ul li { 
  display: block;
  clear: both;
  padding: 6px;
}


/*  -- - --  */

#nav-container ul li a {
  text-decoration: none;
}


#nav-container ul li:hover {
  color: rgb(255, 0, 0);
}
